h3{
    color: green;
}
.cls1{
    background-color: dimgrey;
    font-family: 'Courier New', Courier, monospace;
}
.cls2{
    background-color: dimgray;
    font-family: 'Courier New', Courier, monospace;
}